@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,400;1,600&display=swap');

:root {
    --main-font-color: whitesmoke;
    --secundary-font-color: rgb(24, 23, 23);
    --secundary-font-color-dark: black;
    --background-color-font-box: rgba(56, 189, 194, 0.877);
}


.projects {

    width: 100%;
    height: auto;
    
    h2 {
        color: black;
        font-size: 55px;
        font-weight: 500;
        text-align: center;
    }
    h3 {
        width: 80%;
        margin: auto;
        color: black;
        line-height: 30px;
        font-weight: 100;
        text-align: center;
    }

    ul {
        width: 70%;
        margin-left:initial;
        margin-top: 50px;
        margin-left: 125px;
        list-style: none;
        display: flex;
        
        li {

            color: black;
        }
        
    }

    .col-12 {
        width: 90%;
        margin: auto;
        height: auto;
        margin-top: 5vh;
        display: flex;
        flex-wrap: wrap;
        justify-content: left;

        .box {
            width: 29%;
            height: auto;
            margin: auto;
            margin-top: 5vh;
            margin-bottom: 5vh;
            display: inline-block;
            border-bottom: 1px solid rgb(136, 136, 136);

            .imagem {
                width: 100%;
                height: 25vh;

                img {   
                    width: 100%;
                    height: 100%;
                    border-radius: 5px;
                }
            }
            .imagem:hover {
                img {
                    transition: .6s;
                    transform: scale(1.05); /* aumenta a escala da imagem em 5% */
                }
            }
            
            .content {
                width: 100%;
                height: 27vh;
                text-align: left;

                h2 {
                    font-size: 30px;
                    height: auto;   
                    margin-left: 5px;
                    margin-top: 25px;
                    color: black;
                    text-align: left;
                    font-weight: bold;
                }
    
                h3 {
                    width: 100%;
                    min-height: 75px;
                    font-size: 20px;
                    line-height: 25px;
                    margin-left: 5px;
                    color: black;
                    text-align: left;
                }
                .buttons {
                    width: 100%;
                    display: flex;
                    margin-top: 2vh;

                    .btn-github {
                        width: 100px;
                        height: 30px;
                        margin-right: 1vh;
                        margin-left: 10px;
                        background-color: rgb(255, 189, 6);
                        text-align: center;
                        border: none;

                        a {
                            
                            text-decoration: none;
                            font-size: 12px;
                            color: rgb(46, 46, 46);
                        }
                    }
                    .btn-view {
                        width: 100px;
                        height: 30px;
                        margin-right: 1vh;
                        margin-left: 10px;
                        background-color: rgb(10, 250, 158);
                        text-align: center;
                        border: none;

                        a {
                            
                            text-decoration: none;
                            font-size: 12px;
                            color: rgb(46, 46, 46);
                        }
                    }
                }
            }
        }
       
    }
}
