@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,400;1,600&display=swap');

:root {
    --main-font-color: whitesmoke;
    --secundary-font-color: wheat;
    --secundary-font-familily: 'Nunito Sans', sans-serif;
}


#produtos {
    width: 100%;
    height: 50vh;

    h2 {
        color: var(--main-font-color);
        font-size: 45px;
        font-weight: 500;
    }
    h3 {
        width: 80%;
        margin: auto;
        color: var(--main-font-color);
        line-height: 30px;
        font-weight: 100;
    }

    .container {
        width: 80%;
        height: 90%;
        margin: auto; margin-top: 5vh;
        display: flex;
        flex-wrap: wrap;

        .box {
            width: 22%;
            height: 80%;
            margin: auto;
            border-radius: 10px;
            box-shadow: rgba(34, 34, 34, 0.727) 0px 1px 2px 0px, rgba(44, 44, 44, 0.342) 0px 2px 6px 2px;
            border: 1px solid rgba(90, 90, 90, 0.808);
            cursor: pointer;

            img {
                width: 70px;
                height: 70px;
                margin-top: 5vh;
            }

            h2 {
                width: 80%;
                margin: auto;
                margin-top: 5vh;
                font-size: 16px;
                font-weight: 300;
                line-height: 30px;
                color: rgb(216, 216, 216);
                text-align: left;

            }
        }
        .box:hover {
            background-color: rgba(0, 0, 0, 0.713) ;
            box-shadow: rgba(21, 25, 27, 0.998) 0px 1px 2px 0px, rgba(34, 35, 36, 0.313) 0px 2px 6px 2px;

            h2 {
        
                color: rgb(255, 255, 255);

            }
        }
    }
}

@media (max-width:1250px) {
    
    #produtos {
  
    
        .container {
            width: 95%;
    
            .box {
              width: 30%;
    
                h2 {
                    width: 90%;
                  
                }
            }
        }
    }
    }

@media (max-width:768px) {
    
#produtos {
    height: auto;

    .container {

        display: inline-block;

        .box {
            margin-top: 2vh;
            width: 80%;

            h2 {
                width: 80%;
                margin-top: 1vh;
                padding: 25px;
            }
        }
    }
}
}