@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,400;1,600&display=swap');


:root {
    --main-font-color: whitesmoke;

}


#stacks {

    width: 100%;
    height: auto;

    h2 {
        color: rgb(73, 71, 71);
        color: var(--main-font-color);
        font-size: 45px;
        font-weight: 500;
    }

    h3 {
        width: 80%;
        margin: auto;
        color: var(--main-font-color);
        line-height: 30px;
        font-weight: 100;
    }

    .container {
        width: 80%;
        height: 40vh;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        margin-top: 15vh;
        border-bottom: 1px solid rgba(0, 0, 0, 0.705);


        .box {
            width: 20%;
            height: 25%;


            img {
                width: 50px;
                height: 50px;
            }

            h2 {
                font-size: 18px;
            }
        }

    }
}

@media (max-width: 1024px) {

    #stacks {
        margin-top: 150px;
    }
}

@media (max-width: 768px) {

    #stacks {
        margin-top: 100px;
    }
}

@media (max-width: 550px) {

    #stacks {
        margin-top: 100px;

        .container {
            height: auto;
            margin-bottom: 50px;

            .box {
                width: 25%;
                margin-top: 3vh;

                h2 {
                    font-size: 14px;
                }

            }
        }
    }
}
