@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,400;1,600&display=swap');


:root {
    --main-font-color: whitesmoke;

}


#stacks {

    width: 100%;
    height: auto;

    h2 {
        color: rgb(73, 71, 71);
        color: black;
        font-size: 45px;
        font-weight: 500;
        text-align: center;
        margin-top: 125px;
    }
    h3 {
        width: 80%;
        margin: auto;
        color: var(--main-font-color);
        line-height: 30px;
        font-weight: 100;
    }

    .container {
        width: 80%;
        height: 50vh;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        margin-top: 125px;


        .box {
            width: 25%;
            height: 30%;
            display: flex;
            flex-wrap: wrap;
            

            img {
                width: 80%;
                height: 80px;
                margin: auto;
            }

            h2 {
                width: 100%;
                font-size: 18px;
                margin-top: 15px;
                text-align: center;
            }
        }

    }
}


@media (max-width: 550px) {
    
#stacks {
    margin-top: 100px;

    .container {
       height: auto;
       margin-bottom: 50px;

        .box {
            width: 25%;
            margin-top: 3vh;
            h2 {
                font-size: 14px;
            }
       
        }
    }
}
}

