@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,400;1,600&display=swap');

:root {
    --main-font-color: rgb(11, 118, 160);

    --secundary-font-color: rgb(245, 245, 245);
    --link-font-color: white;
    --secundary-font-color-dark: black;
    --secundary-font-familily: 'Nunito Sans', sans-serif;
    --hover-bg-color: rgb(240, 108, 60);
}

.green-btn {
    background-color: yellow;
}

.about {

    height: auto;
    width: 100%;

    .container {
        width: 90%;
        height: 100%;
        margin: auto;

        .box {

            width: 100%;
            height: auto;
            margin: auto;
            margin-left: auto;
            display: inline-block;

            .text {
                width: 100%;
                height: auto;
                margin-bottom: 10vh;

                a {
                    text-decoration: none;
                    color: rgb(39, 243, 199);
                }
                a:hover {
                    text-decoration: underline;
                    transition: .4s;
                }

                h2 {
                    text-align: center;
                    color: black;
                    font-size: 2.3em;
                    margin-top: 100px;
                }

                h3 {
                    width: 100%;
                    font-weight: 200;
                    text-align: left;
                    line-height: 35px;
                    letter-spacing: 1px;
                    margin-top: 4vh;
                    font-size: 20px;
                    color: black;

                }
            }

            .academic-container {
                width: 100%;
                height: 40vh;
                margin: auto;
                margin-top: 2vh;
                display: flex;

                .col-6 {
                    width: 50%;
                    height: 100%;
                    display: inline-block;
                    text-align: left;

                    h2 {
                        margin-top: 5vh;
                        margin-left: 30px;
                        color: black;
                        font-weight: 300;
                    }

                    h3 {
                        margin-left: 32px;
                        margin-top: 15px;
                        width: 100%;
                        text-align: left;
                        color: black;
                        font-size: 18px;
                        font-weight: normal;
                    }

                    ul {
                        width: 90%;
                        height: auto;
                        margin-left: 30px;

                        li {
                            text-align: left;
                            width: 100%;
                            margin-left: -37px;
                            margin-top: 1vh;
                            list-style: none;
                            color: wheat;
                        }
                    }

                    .imagem-background {
                        width: 90%;
                        height: 80%;
                        margin: auto;

                        img {
                            width: 100%;
                            height: 100%;
                            opacity: .8;
                            border-radius: 15px;
                        }

                        img:hover {
                            opacity: 1;
                            transition: .6s;
                            transform: scale(1.05); /* aumenta a escala da imagem em 5% */
                        }
                    }
                }
            }

            @media (max-width:550px) {
                .academic-container {
                    display: inline-block;
                    height: auto;

                    .col-6 {
                        width: 100%;

                        h2,
                        h3,
                        ul {
                            margin-left: 5px;
                        }
                    }
                }
            }
        }

        .btn {
            width: 100%;
            background-color: transparent;
            height: 100px;
            visibility: visible;

            a {
                width: 200px;
                height: 50px;
                margin: auto;

                .btn-secundary {
                    width: 350px;
                    height: 55px;
                    background-color: transparent;
                    border: 1px solid rgb(0, 0, 0);
                    box-shadow: rgba(49, 48, 48, 0.252) 0px 7px 29px 0px;
                    border-radius: 5px;
                    cursor: pointer;
                    color: black;
                }

                .btn-secundary:hover {
                    background-color: rgba(15, 15, 15, 0.986);
                    color: red;
                    transition: .2s ease;
                }
            }
        }
    }
}
