
@media (max-width: 1024px) {
    #certificados {
        height: auto;
    }
    #certificados .container .box {
        min-height: 75vh;
        width: 70%;
    }
}
@media (max-width: 768px) {

    #certificados .container .box {
        min-height: 35vh;
        width: 65%;
    }
}
@media (max-width: 550px) {
    #certificados .container {
        width: 90%;
    }

    #certificados .container .box {
        margin: auto;
        width: 75%;
        height: auto;
    }

    #certificados .container .box .text h2 {
        font-size: 15px;
    }

    #certificados .container .box .local {
        margin-top: 10vh;
    }
}

@media (max-width: 400px) {
    #certificados .container .box .content h4 {
        font-size: 16px;
    }
}